<% include header %>
<div class="admin2" id="article">
	<table class="ad_table2">
		<tr>
			<td class="td1">标题：</td>
			<td><input type="text" id="title" class="form-control" value="<%- article.title %>" /></td>
		</tr>
		<tr>
			<td class="td1">作者：</td>
			<td><input type="text" id="author" class="form-control" value="<%- article.author %>" /></td>
		</tr>
		<tr>
			<td class="td1">所属类别：</td>
			<td>
				<select id="type" class="form-control">
					<% articleTypes.forEach(function(v) { %>
					<option data-obj="true" value='{"name": "<%- v.name %>", "path": "<%- v.path %>"}'><%- v.name %></option>
					<% }) %>
				</select>
			</td>
		</tr>
		<tr>
			<td class="td1">标签：</td>
			<td>
				<select id="tags" class="form-control">
					<% articleTags.forEach(function(v) { %>
					<option data-obj="true" value='{"name": "<%- v.name %>", "path": "<%- v.path %>"}'><%- v.name %></option>
					<% }) %>
				</select>
			</td>
		</tr>
		<tr>
			<td class="td1">是否启用：</td>
			<td>
				<select id="enabled" class="form-control">
					<option value="1" selected="selected">是</option>
					<option value="0">否</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="td1">简介：</td>
			<td><textarea id="introduction" class="form-control"><%- article.introduction %></textarea></td>
		</tr>
		<tr>
			<td class="td1">内容：</td>
			<td><textarea id="content" class="form-control"><%- article.content %></textarea></td>
		</tr>
		<tr>
			<td class="td1">&nbsp;</td>
			<td><a href="javascript:void(0)" class="btn" data-id="<%- article._id %>" id="submit">确定</a></td>
		</tr>
	</table>
</div>
<% include footer %>