<% include header %>
<div class="main admin" id="articleList">
  <a href="<%- adminPath %>article" class="btn">新增</a>

  <div class="table2_wrap">
    <table class="table2">
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>作者</th>
        <th>阅读次数</th>
        <th>所属类别</th>
        <th>标签</th>
        <th>留言数</th>
        <th>添加时间</th>
        <th>最后编辑时间</th>
        <th>已发布</th>
        <th>操作</th>
        <th></th>
      </tr>
      <% articles.forEach(function(article, i) { %>
      <tr>
        <td><%- (pageList.current - 1) * pageList.size + i + 1 %></td>
        <td><%- article.title.slice(0, 25) + (article.title.length > 25 ? '...' : '') %></td>
        <td><%- article.author %></td>
        <td><%- article.visits %></td>
        <td><%- article.type.name %></td>
        <td>
          <% article.tags.forEach(function(tag, i) { %>
          <%- (i !== 0 ? '、' : '') + tag.name %>
          <% }) %>
        </td>
        <td><a href="<%- adminPath %>commentList?article.id=<%- article._id %>"><%- article.commentCount %></a></td>
        <td><%- article.createTime.slice(0, 10) %></td>
        <td><%- article.lastEditTime.slice(0, 10) %></td>
        <td><%- article.enabled %></td>
        <td>
          <a href="<%- adminPath %>article?id=<%- article._id %>">编辑</a>&nbsp;&nbsp;
          <a href="javascript:void(0)" data-href="<%- adminPath %>article?id=<%- article._id %>"
             class="js_delete">删除</a>
        </td>
      </tr>
      <% }) %>
    </table>
  </div>
  <% include ../common/pageList %>
</div>
<% include footer %>