<% include header %>
<div class="main" id="articleTypeList">
	<a href="<%- adminPath %>articleType" class="btn">新增</a>
	<div class="table2_wrap">
		<table class="table2">
			<tr>
				<th>序号</th>
				<th>名称</th>
				<th>路径</th>
				<th>是否启用</th>
				<th>操作</th>
			</tr>
			<% xData.forEach(function(type, i) { %>
			<tr>
				<td><%- (pageList.current - 1) * pageList.size + i + 1 %></td>
				<td><%- type.name %></td>
				<td><%- type.path %></td>
				<td><%- type.enabled %></td>
				<td>
					<a href="<%- adminPath %>articleType?id=<%- type._id %>">编辑</a>&nbsp;&nbsp;
					<a href="javascript:void(0)" data-href="<%- adminPath %>articleType?id=<%- type._id %>" class="js_delete">删除</a>
				</td>
			</tr>
			<% }) %>
		</table>
	</div>
	<% include ../common/pageList %>
</div>
<% include footer %>