<% include header %>
<div class="admin2" id="blogInfo">
	<table class="ad_table2">
		<tr>
			<td class="td1">标题：</td>
			<td><input type="text" id="title" class="form-control" value="<%- blogInfo.title %>" /></td>
		</tr>
		<tr>
			<td class="td1">关键词：</td>
			<td><textarea id="keywords" class="form-control"><%- blogInfo.keywords %></textarea></td>
		</tr>
		<tr>
			<td class="td1">描述：</td>
			<td><textarea id="description" class="form-control"><%- blogInfo.description %></textarea></td>
		</tr>
		<tr>
			<td class="td1">版权：</td>
			<td><textarea id="copyright" class="form-control"><%- blogInfo.copyright %></textarea></td>
		</tr>
		<tr>
			<td class="td1">&nbsp;</td>
			<td><a href="javascript:void(0)" class="btn" data-id="<%- blogInfo._id %>" id="submit">确定</a></td>
		</tr>
	</table>
</div>
<% include footer %>