<% include header %>
<div class="main" id="linkList">
  <a href="<%- adminPath %>link" class="btn">新增</a>
  <div class="table2_wrap">
    <table class="table2">
      <tr>
        <th>序号</th>
        <th>名称</th>
        <th>链接</th>
        <th>操作</th>
      </tr>
      <% xData.forEach(function(link, i) { %>
      <tr>
        <td><%- (pageList.current - 1) * pageList.size + i + 1 %></td>
        <td><%- link.name %></td>
        <td><%- link.url %></td>
        <td>
          <a href="<%- adminPath %>link?id=<%- link._id %>">编辑</a>&nbsp;&nbsp;
          <a href="javascript:void(0)" data-href="<%- adminPath %>link?id=<%- link._id %>" class="js_delete">删除</a>
        </td>
      </tr>
      <% }) %>
    </table>
  </div>
  <% include ../common/pageList %>
</div>
<% include footer %>