<% include docHeader %>
<title><%- article.title %>_<%- article.type.name %>_<%- blogInfo.title %></title>
<% include header %>
<div class="main">
  <section class="contents">
    <article class="detail">
      <header>
        <h2><%- article.title %></h2>
				<span>
					<i class="icon-user3"></i>
          <%- article.author %>
				</span>
				<span>
					<i class="icon-clock2"></i>
          <%- article.createTime.slice(0, 10) %>
				</span>
				<span>
					<i class="icon-eye"></i>
          <%- article.visits %>
				</span>
				<span>
					<i class="icon-comments"></i>
          <%- comments.length %>
				</span>
      </header>
      <section class="info"><%- article.content %></section>
      <footer>
				<span>
					<i class="icon-tags"></i>
          <% article.tags.forEach(function (tag) { %>
          <a href="/<%- tag.path %>"><%- tag.name %></a>
          <% }) %>
        </span>
      </footer>
    </article>
    <section id="comment" class="comment">
      <h3 <% if (!comments.length) { %>style="display: none"
        <% } %>
        >留言列表</h3>
      <ul <% if (!comments.length) { %>style="display: none"
        <% } %>
        >
        <% comments.forEach(function (comment) { %>
        <li>
          <div class="info">
            <img src="<%- comment.user && comment.user.img || comment.admin && comment.admin.img %>"/>
            <strong><%- comment.user && comment.user.name || comment.admin && comment.admin.name %></strong><br/>
            <span><%- comment.time %></span><br/>
          </div>
          <div class="content"><%- comment.content %><br/><a href="#form" class="js_reply">回复</a></div>
        </li>
        <% }) %>
      </ul>
      <h3>发表评论</h3>
      <table id="form">
        <tr>
          <td>昵称：</td>
          <td><input type="text" name="name" class="form-control" value="<%- commenter.name %>"
                     data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['昵称不能为空！']}) %>/></td>
        </tr>
        <tr>
          <td>邮箱：</td>
          <td><input type="text" name="email" class="form-control" value="<%- commenter.email %>"
                     data-validate=<%- JSON.stringify({
                       rules: ['isRequired', 'isEmail'],
                       msgs: ['邮箱不能为空！', '邮箱格式不正确！']
                     }) %>/></td>
        </tr>
        <tr>
          <td>内容：</td>
          <td><textarea name="content" class="form-control" data-validate=<%- JSON.stringify({
              rules: ['isRequired'],
              msgs: ['内容不能为空！']
            }) %>></textarea></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <a href="#comment" class="btn js_submit" data-article=<%- JSON.stringify({
              id: article._id,
              typePath: article.type.path
            }) %>>发表评论</a>&nbsp;&nbsp;
            <span class="alert alert-warning js_alert"></span>
          </td>
        </tr>
      </table>
    </section>
  </section>
  <% include sidebar %>
</div>
<% include footer %>