<% include docHeader %>
<title><%- article.title %>_<%- article.type.name %>_<%- blogInfo.title %></title>
<% include header %>
<div class="main container">
	<% include sidebar %>
	<article>
		<header>
			<h2><%- article.title %></h2>
			<span>
				<i class="icon-user3"></i>
				<%- article.author %>
			</span>
			<span>
				<i class="icon-clock2"></i>
				<%- article.createTime %>
			</span>
			<span>
				<i class="icon-eye"></i>
				<%- article.visits %>
			</span>
			<span>
				<i class="icon-comments"></i>
				<%- 111 %>
			</span>
		</header>
		<section class="info"><%- article.content %></section>
		<footer>
			<span>
				<i class="icon-tags"></i>
				<% article.tags.forEach(function (tag) { %>
					<a href="/<%- tag.path %>"><%- tag.name %></a>
				<% }) %>
			</span>
		</footer>
		<div id="comment">
			123
		</div>
		<form>
			<table>
				<tr>
					<td>昵称：</td>
					<td><input type="text" name="author" class="form-control" /></td>
				</tr>
				<tr>
					<td>邮箱：</td>
					<td><input type="text" name="author" class="form-control" /></td>
				</tr>
				<tr>
					<td>内容：</td>
					<td><input type="text" name="author" class="form-control" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><a href="" class="btn" id="submit">确定</a></td>
				</tr>
			</table>
		</form>
	</article>
</div>
<% include footer %>