<aside class="sidebar">
  <section>
    <h3>搜索</h3>

    <div id="search" class="search">
      <input type="text" placeholder="关键字" class="form-control" value="<%- blogInfo.keyword %>">
      <a href="javascript:void(0)" class="btn">GO</a>
    </div>
  </section>
  <section>
    <h3>标签云</h3>
    <% var colors = ['F99', 'C9C', 'F96', '6CC', '6C9', '37A7FF', 'B0D686', 'E6CC6E', 'EF8203', 'FF5E52']; %>
    <% articleTags.forEach(function (tag) { %>
    <a href="/tag/<%- tag.path %>" class="label"
       style="background: <%- '#' + colors[Math.floor(Math.random() * colors.length)] %>"><%- tag.name %></a>
    <% }) %>
  </section>
  <section>
    <h3>友情链接</h3>
    <ul>
      <% links.forEach(function (link) { %>
      <li><a href="<%- link.url %>" title="<%- link.name %>" target="_blank"><%- link.name %></a></li>
      <% }) %>
    </ul>
  </section>
</aside>