<aside class="sidebar">
	<section>
		<h3>搜索</h3>
		<div id="search" class="search">
			<input type="text" placeholder="关键字" class="form-control" value="<%- blogInfo.keyword %>">
			<a href="javascript:void(0)" class="btn">GO</a>
		</div>
	</section>
	<section>
		<h3>标签云</h3>
			<% articleTags.forEach(function (tag) { %>
			<a href="/tag/<%- tag.path %>" class="label" style="background: <%- '#'+('00000'+(Math.random()*0x1000000<<0).toString(16)).slice(-6) %>"><%- tag.name %></a>
			<% }) %>
	</section>
	<section>
		<h3>友情链接</h3>
		<ul>
			<% links.forEach(function (link) { %>
			<li><a href="<%- link.url %>" title="<%- link.name %>" target="_blank"><%- link.name %></a></li>
			<% }) %>
		</ul>
	</section>
</aside>